* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(20, 20, 20);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 3rem ;
  background-color: #061A26;
}

nav p {
  font-size:2.4em ;
  line-height: 3.2rem;
  letter-spacing:.5rem;

  text-transform: uppercase;
  color: #fff;
}

nav ul {
  display: flex;
  gap: .9rem;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: #5DBF4E;
  text-decoration: none;

  font-size: 1.2rem;
  line-height: 1.4rem;
}

nav ul li a:hover {
  font-weight: bold;
  color: #498C3F;
}

#hero {
  height: 90vh;
  margin: auto;
  background-color: #2e2e2e;

  display: flex;
  justify-content: space-between;
  place-items: center ;
  padding: 0 3rem;
}


.presentation {
  width: 300px;
  text-align:right

}

.img {
  width:  400px;
  height: 400px;
  background-color: red;
  border-radius: 200px;
}


#area_gallry {
  height: 100vh;
}

.gallery {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.button {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #50F2F2;
    color: #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #41D9D9;
}
