* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  color: #A54328;
  font-size: 1.4rem;
}

main {
  max-width: 32rem;

  margin-inline: auto;

  padding: 5.6rem 4rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  margin-block: 3.2rem;
}

h1, h2 {
  font-size: 2.8rem;
  line-height: 3.6rem;
}

h2 {
  margin: 2.4rem 0;
}

p, li, strong {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

ul, ol {
  padding-left: 2.4rem;
}

ul {
  margin-bottom: 2.4rem ;
}

button {
  color: #FFF;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: capitalize;


  padding: .6rem 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 8px;

  background-color: #A54328;
  margin-top: 3.2rem;
}

button:hover {
  background-color: #783422;
}


@media (min-width: 770px) {
  main {
    flex-direction: row;
    max-width: fit-content;
    gap:16rem;

    padding: 6rem 4rem;
  }

  .recipe {
    max-width: 43.5rem;
  }

  .ingredients {
    max-width: 52.5rem;
  }

  h1, h2 {
    font-size: 2.6rem;
    line-height: 5rem;
  }

  p, li, strong {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  button {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

